<div
  id="wrapper"
  class="mat-app-background"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="24px"
>
  <div fxLayout="row">
    <button
      mat-icon-button
      [matBadge]="count || null"
      matBadgeColor="warn"
      aria-label="Reset mail count"
      (click)="reset()"
    >
      <mat-icon>mail_outline</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutGap="8px">
    <button
      mat-raised-button
      color="primary"
      (click)="start()"
      [disabled]="receiving"
    >
      Start receiving
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="stop()"
      [disabled]="!receiving"
    >
      Stop receiving
    </button>
  </div>
</div>
