<div
  id="wrapper"
  class="mat-app-background"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="24px"
>
  <div fxLayout="row">
    <button
      mat-icon-button
      matBadge="15"
      matBadgeColor="warn"
      aria-label="Reset mail count"
    >
      <mat-icon>mail_outline</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutGap="8px">
    <button mat-raised-button color="primary">Start receiving</button>
    <button mat-raised-button color="accent">Stop receiving</button>
  </div>
</div>
